Repository ewels/rich-click: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

isort:
  name: iSort - Sorts imports.
  description: Sorts your import for you.
  entry: isort
  language: python
  require_serial: true
  additional_dependencies:
  - isort

black:
  name: Black - Auto-formatter.
  description: Black is the uncompromising Python code formatter. Writing to files.
  entry: black
  language: python
  require_serial: true
  additional_dependencies:
  - black

flake8:
  name: Flake8 - Enforce code style and doc.
  description: A command-line utility for enforcing style consistency across Python projects.
  entry: flake8
  args:
  - --config=.flake8
  language: python
  require_serial: true
  additional_dependencies:
  - flake8
  - flake8-docstrings

mypy:
  name: mypy - Static type checking
  description: Mypy helps ensure that we use our functions and variables correctly by checking the types.
  entry: mypy
  language: python
  require_serial: true
  additional_dependencies:
  - mypy

update test cases
  tests/expectations/test_rich_click[test command column alignment]-click7.config.json
  tests/expectations/test_rich_click[test command column alignment]-click8.config.json
  tests/expectations/test_rich_click[test context_settings]-click7.config.json
  tests/expectations/test_rich_click[test context_settings]-click8.config.json
Due: none

fix test
  tests/test_help.py
Due: isort, black, mypy

maintenance of changelog and readme
  CHANGELOG.md
  README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix issue where ctx.exit() did not emit the proper status code
  CHANGELOG.md
  src/rich_click/__init__.py
  src/rich_click/rich_command.py
  src/rich_click/rich_group.py
  src/rich_click/rich_mixin.py
  tests/test_exit_code.py
Due: isort, black, flake8, mypy

support more click objects
  CHANGELOG.md
  src/rich_click/__init__.py
  src/rich_click/cli.py
  src/rich_click/rich_command.py
  src/rich_click/rich_group.py
  src/rich_click/rich_mixin.py
  tests/conftest.py
Due: isort, black, flake8, mypy

fix tests
  src/rich_click/rich_command.py
  tests/test_exit_code.py
Due: isort, black, flake8, mypy

fix typing
  pyproject.toml
  src/rich_click/__init__.py
  src/rich_click/cli.py
  src/rich_click/decorators.py
  src/rich_click/rich_help_formatter.py
Due: isort, black, flake8, mypy

fix tests
  src/rich_click/cli.py
  src/rich_click/rich_command.py
  tests/test_exit_code.py
Due: isort, black, flake8, mypy

more typing fixes
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  src/rich_click/__init__.py
  src/rich_click/_compat_click.py
  src/rich_click/cli.py
  src/rich_click/decorators.py
  src/rich_click/rich_click.py
  src/rich_click/rich_command.py
  src/rich_click/rich_context.py
  src/rich_click/rich_help_configuration.py
  tests/test_help.py
Due: isort, black, flake8, mypy

get mypy working
  .pre-commit-config.yaml
  pyproject.toml
  setup.py
  src/rich_click/__init__.py
  src/rich_click/_compat_click.py
  src/rich_click/cli.py
  src/rich_click/decorators.py
  src/rich_click/rich_click.py
  src/rich_click/rich_command.py
  src/rich_click/rich_context.py
  src/rich_click/rich_help_formatter.py
  tests/conftest.py
  tests/fixtures/arguments.py
  tests/fixtures/context_settings.py
  tests/fixtures/custom_errors.py
  tests/fixtures/declarative.py
  tests/fixtures/envvar.py
  tests/fixtures/markdown.py
  tests/fixtures/metavars.py
  tests/fixtures/metavars_default.py
  tests/fixtures/rich_markup.py
  tests/fixtures/simple.py
  tests/fixtures/table_alignment.py
  tests/fixtures/table_styles.py
  tests/test_exit_code.py
  tests/test_help.py
Due: isort, black, flake8, mypy

flesh out test
  tests/test_help.py
Due: isort, black, mypy

fix click 7 tests
  tests/fixtures/simple.py
  tests/fixtures/table_alignment.py
Due: isort, black

fix test suite
  setup.py
  tests/fixtures/table_alignment.py
  tests/test_help.py
Due: isort, black, flake8, mypy

rich context settings inherit from parent
  src/rich_click/__init__.py
  src/rich_click/cli.py
  src/rich_click/decorators.py
  src/rich_click/rich_command.py
  src/rich_click/rich_context.py
Due: isort, black, flake8, mypy

misc change
  src/rich_click/rich_context.py
  src/rich_click/rich_help_formatter.py
Due: isort, black, flake8, mypy

make mypy work in strict mode
  CHANGELOG.md
  pyproject.toml
  src/rich_click/__init__.py
  src/rich_click/rich_click.py
  src/rich_click/rich_command.py
  src/rich_click/rich_context.py
  tests/__init__.py
  tests/fixtures/context_settings.py
  tests/fixtures/custom_errors.py
  tests/fixtures/declarative.py
  tests/fixtures/envvar.py
  tests/fixtures/groups_sorting.py
  tests/fixtures/markdown.py
  tests/fixtures/metavars.py
  tests/fixtures/metavars_default.py
  tests/fixtures/rich_markup.py
  tests/fixtures/simple.py
  tests/fixtures/table_alignment.py
  tests/fixtures/table_styles.py
  tests/test_exit_code.py
  tests/test_help.py
Due: isort, black, flake8, mypy

reinstate CommandCollection support
  src/rich_click/__init__.py
  src/rich_click/cli.py
  src/rich_click/rich_command.py
Due: isort, black, flake8, mypy

fix errors in rc cli tool
  src/rich_click/__init__.py
  src/rich_click/rich_click.py
  src/rich_click/rich_command.py
Due: isort, black, flake8, mypy

update README-- push hello world example to the top and add branding
  README.md
  docs/images/rich-click-logo.png
  examples/11_hello.py
Due: isort, black

fix rich-codex error
  README.md
Due: none

update logo
  docs/images/rich-click-logo.png
Due: none

attempt to bugfix rich-codex
  .github/workflows/rich-codex.yml
Due: none

update logo
  .github/rich-codex.yml
  docs/images/rich-click-logo.png
Due: none

attempt to fix rich-codex run
  .github/rich-codex.yml
  .github/workflows/rich-codex.yml
Due: none

fix issue with TerminalBuffer thing
  .github/workflows/pre-commit.yml
  .github/workflows/pytest.yml
  .github/workflows/rich-codex.yml
  .github/workflows/test-examples.yml
  src/rich_click/rich_help_configuration.py
  src/rich_click/rich_help_formatter.py
  tests/conftest.py
  tests/expectations/test_rich_click[test arguments with rich_config]-click8.out
  tests/expectations/test_rich_click[test arguments]-click8.out
  tests/expectations/test_rich_click[test command column alignment]-click8.out
  tests/expectations/test_rich_click[test context_settings]-click8.out
  tests/expectations/test_rich_click[test custom errors help]-click8.out
  tests/expectations/test_rich_click[test custom errors with rich_config]-click8.out
  tests/expectations/test_rich_click[test declarative with rich_config]-click8.out
  tests/expectations/test_rich_click[test declarative]-click8.out
  tests/expectations/test_rich_click[test environment variables with rich_config]-click8.out
  tests/expectations/test_rich_click[test envvar]-click8.out
  tests/expectations/test_rich_click[test group sorting]-click8.out
  tests/expectations/test_rich_click[test groups sorting with rich_config]-click8.out
  tests/expectations/test_rich_click[test markdown with rich_config]-click8.out
  tests/expectations/test_rich_click[test markdown]-click8.out
  tests/expectations/test_rich_click[test metavars default with rich_config]-click8.out
  tests/expectations/test_rich_click[test metavars default]-click8.out
  tests/expectations/test_rich_click[test metavars with rich_config]-click8.out
  tests/expectations/test_rich_click[test metavars]-click8.out
  tests/expectations/test_rich_click[test rich markup with rich_config]-click8.out
  tests/expectations/test_rich_click[test rich markup]-click8.out
  tests/expectations/test_rich_click[test simple with rich_config]-click8.out
  tests/expectations/test_rich_click[test simple]-click8.out
  tests/expectations/test_rich_click[test table styles with rich_config]-click8.out
  tests/expectations/test_rich_click[test table styles]-click8.out
Due: isort, black, flake8, mypy

hotfix
  tests/test_help.py
Due: isort, black, mypy

version bump
  src/rich_click/__init__.py
  src/rich_click/decorators.py
Due: isort, black, flake8, mypy

lowercase logo
  docs/images/rich-click-logo.png
Due: none

better font for logo
  README.md
  docs/images/rich-click-logo.png
Due: none

add darkmode logo
  README.md
  docs/images/rich-click-logo-darkmode.png
  docs/images/rich-click-logo.png
Due: none

two fixes: (1) __rich_context_settings__ is not fully overridden by rich_config dec (2) RichGroup.group fixed for click 7
  src/rich_click/decorators.py
  src/rich_click/rich_command.py
Due: isort, black, flake8, mypy

document rich_config decorator
  README.md
  src/rich_click/rich_click.py
  src/rich_click/rich_help_configuration.py
Due: isort, black, flake8, mypy

fix rich style bugs
  README.md
  src/rich_click/cli.py
  src/rich_click/rich_click.py
  src/rich_click/rich_help_configuration.py
Due: isort, black, flake8, mypy

update changelog
  CHANGELOG.md
Due: none

oops, should not have gotten rid of quotes
  src/rich_click/rich_click.py
Due: isort, black, flake8, mypy

update example
  examples/07_custom_errors.py
Due: isort, black

bump version
  src/rich_click/__init__.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: ^examples/|^tests/
  mypy: any of: \.py$, but not: ^examples/|^tests/fixtures/
