Repository ewels/rich-click: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

.pre-commit-config.yaml:

# This file contains the [pre-commit](https://pre-commit.com/) configuration of this repository.
# More on which specific pre-commit hooks we use can be found in README.md.
---
minimum_pre_commit_version: "2.9.2"
repos:
  - repo: meta
    hooks:
      - id: identity
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.0.0-alpha.3" # Can not be removed, so leave this empty.
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: isort
        name: iSort - Sorts imports.
        description: Sorts your import for you.
        entry: isort
        language: python
        types: [python]
        require_serial: true
        additional_dependencies:
          - isort
      - id: black
        name: Black - Auto-formatter.
        description: Black is the uncompromising Python code formatter. Writing to files.
        entry: black
        language: python
        types: [python]
        require_serial: true
        additional_dependencies:
          - black
      - id: flake8
        name: Flake8 - Enforce code style and doc.
        description: A command-line utility for enforcing style consistency across Python projects.
        entry: flake8
        args: ["--config=.flake8"]
        language: python
        types: [python]
        exclude: ^examples/|^tests/
        require_serial: true
        additional_dependencies:
          - flake8
          - flake8-docstrings
      - id: mypy
        name: mypy - Static type checking
        description: Mypy helps ensure that we use our functions and variables correctly by checking the types.
        entry: mypy
        language: python
        types: [python]
        exclude: ^examples/|^tests/fixtures/
        require_serial: true
        additional_dependencies:
          - mypy

minor updates
  docs/rich_click_cli.md
  mkdocs.yml
  src/rich_click/cli.py
  src/rich_click/rich_command.py
Due: isort, black, flake8, mypy

Add rich prompt for click options
  .github/workflows/test-examples.yml
  examples/12_prompt.py
  src/rich_click/__init__.py
  src/rich_click/decorators.py
  src/rich_click/rich_option.py
Due: isort, black, flake8, mypy

woooooo
  .pre-commit-config.yaml
  docs/css/termynal.css
  docs/getting-started.md
  src/rich_click/cli.py
  src/rich_click/rich_command.py
  tests/test_help.py
  tests/test_rich_click_cli.py
Due: isort, black, flake8, mypy

fix click 7 tests
  pyproject.toml
  tests/conftest.py
  tests/test_config.py
  tests/test_exit_code.py
  tests/test_help.py
  tests/test_rich_click_cli.py
Due: isort, black, mypy

test update
  src/rich_click/rich_help_configuration.py
  tests/test_rich_click_cli.py
Due: isort, black, flake8, mypy

this is shaping up to be very cool
  .pre-commit-config.yaml
  docs/getting-started.md
  docs/getting_started.md
  docs/installation_and_usage.md
  docs/live_style_editor.md
  docs/live_style_editor.py
  mkdocs.yml
  pyproject.toml
  src/rich_click/cli.py
  src/rich_click/rich_command.py
Due: isort, black, flake8, mypy

update
  .pre-commit-config.yaml
  docs/live_style_editor.md
Due: none

fix
  .github/workflows/build-docs.yml
  mkdocs.yml
Due: none

update docs
  .github/workflows/build-docs.yml
Due: none

updates
  docs/css/extra.css
  docs/css/termynal.css
  docs/docs/index.md
  docs/editor.md
  docs/index.md
  docs/live_style_editor.md
  mkdocs.yml
Due: none

color updates
  docs/editor.md
Due: none

being goofy and having fun
  docs/css/extra.css
  docs/docs/index.md
  docs/editor.md
  docs/fonts/LICENSE
  docs/fonts/pixelmix.ttf
  docs/index.md
  docs/js/termynal.js
  docs/rich_click_cli.md
Due: none

update
  docs/editor.md
Due: none

fiddling
  docs/css/extra.css
  docs/editor.md
  docs/index.md
  docs/js/custom.js
  docs/js/termynal.js
Due: none

add a note
  docs/rich_click_cli.md
Due: none

Send usage information to stderr when something fails.
  src/rich_click/rich_help_formatter.py
Due: isort, black, flake8, mypy

get black to stop messing things up
  .pre-commit-config.yaml
Due: none

update
  CHANGELOG.md
Due: none

feat: Migrate project metadata to pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
  setup.cfg
  setup.py
Due: isort, black, flake8, mypy

better color selection
  docs/editor.md
Due: none

update
  docs/css/extra.css
  docs/editor.md
Due: none

the worst jquery ever
  docs/editor.md
Due: none

done
  docs/editor.md
  docs/index.md
  docs/live_style_editor.py
Due: isort, black, flake8, mypy

typo
  docs/editor.md
Due: none

fix
  docs/editor.md
Due: none

update
  src/rich_click/cli.py
Due: isort, black, flake8, mypy

WIP
  docs/docs/configuration/index.md
  docs/docs/introduction_to_click.md
  docs/docs/rich_click_cli.md
  docs/getting_started.md
  docs/index.md
  mkdocs.yml
Due: none

WIP
  docs/docs/configuration/index.md
  docs/docs/introduction_to_click.md
  docs/docs/rich_click_cli.md
  docs/editor.md
  docs/getting_started.md
  docs/index.md
  mkdocs.yml
Due: none

update changelog
  CHANGELOG.md
Due: none

update
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  setup.cfg
  setup.py
Due: isort, black, flake8, mypy

updates
  CONTRIBUTING.md
  README.md
  docs/contributing.md
  docs/docs/index.md
  docs/documentation/api_reference.md
  docs/documentation/configuration.md
  docs/documentation/groups.md
  docs/documentation/index.md
  docs/documentation/introduction_to_click.md
  docs/documentation/rich_click_cli.md
  docs/index.md
  docs/installation_and_usage.md
  docs/test.svg
  mkdocs.yml
  pyproject.toml
  src/rich_click/cli.py
  src/rich_click/patch.py
  src/rich_click/rich_command.py
  src/rich_click/rich_help_configuration.py
  tests/test_rich_click_cli.py
Due: isort, black, flake8, mypy

update
  pyproject.toml
Due: none

update
  CHANGELOG.md
  README.md
  docs/changelog.md
  docs/documentation/configuration.md
  docs/documentation/formatting_and_styles.md
  docs/documentation/groups.md
  docs/documentation/groups_and_sorting.md
  docs/documentation/introduction_to_click.md
  docs/documentation/rich_click_cli.md
  mkdocs.yml
  src/rich_click/rich_help_configuration.py
  tests/expectations/test_rich_click[test arguments with rich_config]-click8.config.json
  tests/expectations/test_rich_click[test custom errors with rich_config]-click8.config.json
  tests/expectations/test_rich_click[test declarative with rich_config]-click8.config.json
  tests/expectations/test_rich_click[test environment variables with rich_config]-click8.config.json
  tests/expectations/test_rich_click[test groups sorting with rich_config]-click8.config.json
  tests/expectations/test_rich_click[test markdown with rich_config]-click8.config.json
  tests/expectations/test_rich_click[test metavars default with rich_config]-click8.config.json
  tests/expectations/test_rich_click[test metavars with rich_config]-click8.config.json
  tests/expectations/test_rich_click[test rich markup with rich_config]-click8.config.json
  tests/expectations/test_rich_click[test simple with rich_config]-click8.config.json
  tests/expectations/test_rich_click[test table styles with rich_config]-click8.config.json
Due: isort, black, flake8, mypy

update docs
  .pre-commit-config.yaml
  README.md
  docs/index.md
  src/rich_click/__init__.py
Due: isort, black, flake8, mypy

update
  README.md
  docs/documentation/formatting_and_styles.md
  docs/documentation/groups_and_sorting.md
Due: none

update
  docs/documentation/formatting_and_styles.md
Due: none
