Repository ewels/rich-click: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy

isort:
  name: iSort - Sorts imports.
  description: Sorts your import for you.
  entry: isort
  language: python
  require_serial: true
  additional_dependencies:
  - isort

black:
  name: Black - Auto-formatter.
  description: Black is the uncompromising Python code formatter. Writing to files.
  entry: black
  language: python
  require_serial: true
  additional_dependencies:
  - black

flake8:
  name: Flake8 - Enforce code style and doc.
  description: A command-line utility for enforcing style consistency across Python projects.
  entry: flake8
  args:
  - --config=.flake8
  language: python
  require_serial: true
  additional_dependencies:
  - flake8
  - flake8-docstrings

mypy:
  name: mypy - Static type checking
  description: Mypy helps ensure that we use our functions and variables correctly by checking the types.
  entry: mypy
  language: python
  require_serial: true
  additional_dependencies:
  - mypy

Rename VSCode settings to a template.jsonc file
  .gitignore
  .vscode/settings.template.jsonc
Due: none

Bump version number, update changelog
  CHANGELOG.md
  src/rich_click/__init__.py
Due: isort, black, flake8, mypy

Make Usage: highlighters more specific.
  CHANGELOG.md
  src/rich_click/rich_help_configuration.py
Due: isort, black, flake8, mypy

Use correct style name for command.
  src/rich_click/rich_help_configuration.py
  src/rich_click/rich_help_formatter.py
Due: isort, black, flake8, mypy

Add padding back to main Usage: string
  src/rich_click/rich_click.py
Due: isort, black, flake8, mypy

Arguments example - make arguments more exciting
  examples/06_arguments.py
Due: isort, black

More specific formatting for Usage args.
  src/rich_click/rich_click.py
  src/rich_click/rich_help_configuration.py
Due: isort, black, flake8, mypy

Nice usage formatting for errors too
  src/rich_click/rich_click.py
Due: isort, black, flake8, mypy

Use just Text() object for Usage
  src/rich_click/rich_click.py
Due: isort, black, flake8, mypy

Run rich-codex
  docs/images/arguments.svg
  docs/images/command_groups.svg
  docs/images/custom_error.svg
  docs/images/error.svg
  docs/images/markdown.svg
  docs/images/metavars_appended.svg
  docs/images/metavars_default.svg
  docs/images/rich_markup.svg
  docs/images/style_tables.svg
Due: none

fix: Use the full width of the terminal for output if it is less than the MAX_WIDTH setting
  src/rich_click/rich_help_formatter.py
Due: isort, black, flake8, mypy

Override only when max_width is set
  src/rich_click/rich_help_formatter.py
Due: isort, black, flake8, mypy

Add WIDTH and refactor MAX_WIDTH
  README.md
  src/rich_click/rich_click.py
  src/rich_click/rich_help_configuration.py
  src/rich_click/rich_help_formatter.py
  tests/conftest.py
  tests/expectations/test_rich_click[test arguments with rich_config].config.json
  tests/expectations/test_rich_click[test arguments].config.json
  tests/expectations/test_rich_click[test custom errors help].config.json
  tests/expectations/test_rich_click[test custom errors with rich_config].config.json
  tests/expectations/test_rich_click[test declarative with rich_config].config.json
  tests/expectations/test_rich_click[test declarative].config.json
  tests/expectations/test_rich_click[test environment variables with rich_config].config.json
  tests/expectations/test_rich_click[test envvar].config.json
  tests/expectations/test_rich_click[test group sorting].config.json
  tests/expectations/test_rich_click[test groups sorting with rich_config].config.json
  tests/expectations/test_rich_click[test markdown with rich_config].config.json
  tests/expectations/test_rich_click[test markdown].config.json
  tests/expectations/test_rich_click[test metavars default with rich_config].config.json
  tests/expectations/test_rich_click[test metavars default].config.json
  tests/expectations/test_rich_click[test metavars with rich_config].config.json
  tests/expectations/test_rich_click[test metavars].config.json
  tests/expectations/test_rich_click[test rich markup with rich_config].config.json
  tests/expectations/test_rich_click[test rich markup].config.json
  tests/expectations/test_rich_click[test simple with rich_config].config.json
  tests/expectations/test_rich_click[test simple].config.json
  tests/expectations/test_rich_click[test table styles with rich_config].config.json
  tests/expectations/test_rich_click[test table styles].config.json
  tests/test_help.py
Due: isort, black, flake8, mypy

implement matrix strategy for CI
  .github/workflows/pytest.yml
  .github/workflows/test-examples.yml
  tests/test_help.py
Due: isort, black, mypy

add click 7 versions to ci
  .github/workflows/pytest.yml
  .github/workflows/test-examples.yml
Due: none

fix black error
  tests/test_help.py
Due: isort, black, mypy

redo configs for click 7.x test cases
  tests/expectations/test_rich_click[test arguments with rich_config]-click7.config.json
  tests/expectations/test_rich_click[test arguments]-click7.config.json
  tests/expectations/test_rich_click[test custom errors help]-click7.config.json
  tests/expectations/test_rich_click[test custom errors with rich_config]-click7.config.json
  tests/expectations/test_rich_click[test declarative with rich_config]-click7.config.json
  tests/expectations/test_rich_click[test declarative]-click7.config.json
  tests/expectations/test_rich_click[test environment variables with rich_config]-click7.config.json
  tests/expectations/test_rich_click[test envvar]-click7.config.json
  tests/expectations/test_rich_click[test group sorting]-click7.config.json
  tests/expectations/test_rich_click[test groups sorting with rich_config]-click7.config.json
  tests/expectations/test_rich_click[test markdown with rich_config]-click7.config.json
  tests/expectations/test_rich_click[test markdown]-click7.config.json
  tests/expectations/test_rich_click[test metavars default with rich_config]-click7.config.json
  tests/expectations/test_rich_click[test metavars default]-click7.config.json
  tests/expectations/test_rich_click[test metavars with rich_config]-click7.config.json
  tests/expectations/test_rich_click[test metavars]-click7.config.json
  tests/expectations/test_rich_click[test rich markup with rich_config]-click7.config.json
  tests/expectations/test_rich_click[test rich markup]-click7.config.json
  tests/expectations/test_rich_click[test simple with rich_config]-click7.config.json
  tests/expectations/test_rich_click[test simple]-click7.config.json
  tests/expectations/test_rich_click[test table styles with rich_config]-click7.config.json
  tests/expectations/test_rich_click[test table styles]-click7.config.json
Due: none

add context_settings support
  src/rich_click/_compat_click.py
  src/rich_click/rich_click.py
  tests/expectations/test_rich_click[test context_settings]-click7.config.json
  tests/expectations/test_rich_click[test context_settings]-click7.out
  tests/expectations/test_rich_click[test context_settings]-click8.config.json
  tests/expectations/test_rich_click[test context_settings]-click8.out
  tests/fixtures/context_settings.py
  tests/test_help.py
Due: isort, black, flake8, mypy

split 7.0 and 7.1 tests; reduce test scope to lowest and highest support python versions only
  .github/workflows/pytest.yml
  tests/fixtures/rich_markup.py
  tests/test_help.py
Due: isort, black, mypy

updates
  .github/workflows/pytest.yml
  tests/test_help.py
Due: isort, black, mypy

skip if click is 8.0
  tests/test_help.py
Due: isort, black, mypy

support python 3.7 for tests
  tests/test_help.py
Due: isort, black, mypy

deprecate click 7.x support
  src/rich_click/_compat_click.py
Due: isort, black, flake8, mypy

remove LooseVersion as it is deprecated and will be removed in python 3.12
  setup.py
  src/rich_click/_compat_click.py
  src/rich_click/rich_command.py
  src/rich_click/rich_group.py
  tests/test_help.py
Due: isort, black, flake8, mypy

Add @dwreeves to readme
  README.md
Due: none

black formatting
  src/rich_click/rich_help_configuration.py
Due: isort, black, flake8, mypy

Run pre-commit
  README.md
Due: none

Changelog, tweak readme text
  CHANGELOG.md
  README.md
Due: none

Fix typo in README.md
  README.md
Due: none

pass pre-commit
  src/rich_click/_compat_click.py
Due: isort, black, flake8, mypy

remove 'packaging' from required deps
  setup.py
  src/rich_click/_compat_click.py
Due: isort, black, flake8, mypy

fix test case
  src/rich_click/_compat_click.py
  tests/expectations/test_rich_click[test context_settings]-click7.config.json
  tests/expectations/test_rich_click[test context_settings]-click8.config.json
Due: isort, black, flake8, mypy

add context_settings support (#115)
  .github/workflows/pytest.yml
  setup.py
  src/rich_click/_compat_click.py
  src/rich_click/rich_click.py
  tests/expectations/test_rich_click[test context_settings]-click7.config.json
  tests/expectations/test_rich_click[test context_settings]-click7.out
  tests/expectations/test_rich_click[test context_settings]-click8.config.json
  tests/expectations/test_rich_click[test context_settings]-click8.out
  tests/fixtures/context_settings.py
  tests/fixtures/rich_markup.py
  tests/test_help.py
Due: isort, black, flake8, mypy

Path conditions:
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$, but not: ^examples/|^tests/
  mypy: any of: \.py$, but not: ^examples/|^tests/fixtures/
